name: Trigger Cron Job

on:
  schedule:
    # Runs at minute 0 past every hour
    - cron: '0 * * * *'
  workflow_dispatch: # Allows manual trigger

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cron API
        run: |
          curl -X GET "https://taunufiji.app/api/cron?key=${{ secrets.CRON_SECRET }}"
